#validation-input {
  border: 3px solid #bdbdbd;
  padding: 8px;
  font-size: 16px;
  outline: none;
}

#validation-input.valid {
  border-color: #4caf50; /* Зелений */
}

#validation-input.invalid {
  border-color: #f44336; /* Червоний */
}


.input {
    display: block;
    margin-top: 20px;
}